body
{
	background-image : url(images/fond.jpg);
	height:100%;
}  

#bloc_central
{
	min-width : 300px;
	width : 500px;
	text-align : center;
	margin-left : 30%;
	margin-top : 250px;
}

.btn 
{
	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px #888;
	box-shadow: 0 0 1px 1px #888;
}


#Prez{
	color:030303;
	min-width:1000px;
}

#tache{
	color:white;
	width:100px;
	margin-left:5px;
	float:left;
	background-color:#077000;
}

#lot{
	color:white;
	width:200px;
	margin-left:5px;
	display:inline;
	background-color:#985589;
}

#sousprojet{
	color:white;
	display:inline;
	width:50px;
	margin-left:5px;
	background-color:#077000;
}

#jalons{
	display:inline;
	color:white;
	width:50px;
	margin-left:5px;
	background-color:#985589;
}

#phase{
	display:inline;
	color:white;
	width:50px;
	margin-left:5px;
	background-color:#077000;
}

#livrable{
	display:inline;
	color:white;
	min-width:50px;
	max-width:50px;
	margin-left:5px;
	background-color:#985589;
}

#bloc_central
{
	min-width : 300px;
	width : 500px;
	text-align : center;
	margin-left : 30%;
	margin-top : 250px;
}

.btn 
{
	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px #888;
	box-shadow: 0 0 1px 1px #888;
}

ul ul 
{
	display: none;
} 

li:hover ul.niveau2, li li:hover ul.niveau3 
{
	display:block;
}

.niveau2 > li > a, .niveau3 > li > a 
{
	padding-top: 15px;
    padding-bottom: 15px;
  	line-height: 20px;
 	margin: 7.5px -15px;
	color: #777777;
}

.niveau2 > li > a:hover,.niveau2 > li > a:focus,
.niveau3 > li > a:hover,.niveau3 > li > a:focus 
{
	color: #333333;
  	background-color: transparent;
}

.retourIndex
{
	position: absolute;
	margin-left: 10px;
	margin-top: 5%;
}

.supprProj
{
	position: absolute;
	margin-left: 89%;
	margin-top: 5%;
}

#validSuppr
{
	color : #000;
	text-indent : 20px;
}